{% extends 'Frontend/base.html' %}

{% block content %}



<div class="container">
  <!-- Content here -->



    <!--Search Courses  -->
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <div class="input-group">
                  <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Search Courses">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select</button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div role="separator" class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                  </div>
                  <div class="input-group-append">
                     <button class="btn btn-outline-secondary" type="button">Search</button>
                  </div>
            </div>
    </div>



    <div class="course">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card mb-3" style="border:none;" >
            <!-- To make board less class we need to put border as none-->
              <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="..." class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                    </div>
              </div>
        </div>

    </div>
    </div>

    <div class="course">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card mb-3" style="border:none;" >
            <!-- To make board less class we need to put border as none-->
              <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="..." class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                    </div>
              </div>
        </div>

    </div>
    </div>


    <div class="shadow-lg p-3 mb-5 bg-white rounded ">
        <div class="card mb-3" style="border:none;" >
            <!-- To make board less class we need to put border as none-->
              <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="..." class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                    </div>
              </div>
        </div>

    </div>



</div>


{% endblock %}