{% extends 'Frontend/base.html'%}
{% block content %}

<style>
    .my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
</style>
<br>
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{choiceform.as_p}}
                    <input class="btn btn-info" type="submit" value="Add Choice">
                </form>
            </div>
        </div>
        <div class="col-3">
            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{itemform.as_p}}
                    <input class="btn btn-info" type="submit" value="Add Item">
                </form>
            </div>
        </div>
        <div class="col-6">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table">
                  <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Choice</th>
                        <th scope="col">       </th>
                        <th scope="col">       </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{item.Item}}</td>
                            <td>{{item.choices.choice}}</td>
                            <td><a class="btn btn-sm btn-info" href="#">Edit</a></td>
                            <td><a class="btn btn-sm btn-danger" href="#"
                                   onclick="return confirm('Are you sure you want to delete this?')">Delete</a></td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    <a class="confirm-delete" >Delete</a>
        $(document).on('click', '.confirm-delete', function(){
        return confirm('Are you sure you want to delete this?');
        })
</script>

{% endblock content %}